*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif
}

body {
    width:100%;
    background-color: #FFCD8E;

}
.opening_sentence{
    width: 100%;
    text-transform: coral;
    position: static;
    text-align: center;
    margin: burlywood;
}

.home_paragraph{
    text-justify: distribute;
    font-display: chocolate;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}
.container_one{
    text-align: center;
    padding-top: 40%;
}
.homepage{
    background-image: url(https://tandfbis.s3-us-west-2.amazonaws.com/rt-files/Faculty/Laura+Maisey/10+tips+for+successful+studying+3+OP.jpg);
    background-color:#FFCD8E;
    background-origin: border-box;
    background-clip: border-box;
    background-size: cover;
}
.social_media {
    height: 80px;
	width: 80px;
	display: inline-block;
}
.about {
    text-justify: distribute;
    font-display: chocolate;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}

header{
    padding: 20px;
    height: 80px;
    width: 100vw;
    display: flex;
    z-index: 1000;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(35, 35, 35);
}

.logo {
    display: block;
    color:  #FFCD8E;;
    text-decoration: none;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 20px;
}

header ul {
    display: flex;
    float: right;
    flex-wrap: wrap;
}
header li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;

}

header li a {
color:  #FFCD8E;;
border: 1px solid  #FFCD8E;
text-decoration: none;
padding: 5px;
}

.section {
    min-height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
}

.image{ 
    height: 200px;
    width: 300px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
}

.section-1 {
    background-image: url(https://images.pexels.com/photos/5428012/pexels-photo-5428012.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    color: white;
    text-shadow: 1px 1px black;
}


.study-tip{
    background-color: rgb(35, 35, 35);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    color:  white;
}


.section-3 {
    text-align: center;
}

.section-3 input {
    height: 50px;
}

.section-3 button {
    height: 50px;
    width: 50%;
    display: block;
    margin: 0 auto;
    background-color:  rgb(35, 35, 35);
    color: white;
}

footer{
    padding: 10px;
    background-color:  rgb(35, 35, 35);
    display: flex;
    justify-content: center;
}


@media (max-width:481px) {
    .image{ 
        width: 200px;
    }
}



